<header class="app-header">
  <nav class="navbar">
    <div class="logo">
      <img class="logo-image" src="../../../assets/ftn.png" />
      <a routerLink="/">Sluzba</a>
    </div>
    <ul class="nav-links">
      <ng-container *ngIf="isAuthenticated; else guestLinks">
        <li><a routerLink="/teachers">Nastavnici</a></li>
        <li>
          <a (click)="logout()">Odjava</a>
        </li>
      </ng-container>
      <ng-template #guestLinks>
        <li><a routerLink="/login">Prijava</a></li>
      </ng-template>
    </ul>
  </nav>
</header>
